body{
    background-color: lightblue;
    /* border: 2px solid black; */
}
p{
    color: yellow;
}
h1{

}
h2{
    color: red;
}
#secondpara{
    color: darkblue;
}
.yellow{
border: 2px solid red;
}
h1,h2,p{
    color: red;
}